.row_poster {
  width: 100%;
  height: 150px;  
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 4px;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
.row_posterLarge {
  height: 250px;
}
.row_posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}
.row{
  color: white;
  margin-left: 20px;
}